/node_modules
/public/hot
/public/uploads
/public/css
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/public
/dist
/tests
/app
/database
/resources
/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.notes
/public/mix-manifest.json
.php_cs.cache
npm-debug.log*
